/*---paleta---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100%;
}

p {
  text-align: center;
  line-height: 2;
  color: #8C6764;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#B0D9C2));
  background-image: linear-gradient(#fff, #B0D9C2);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #2e2630;
}

.footer p {
  color: #2e2630;
}

.footer .footer__contacto {
  font-size: 16px;
}

.footer .footer__contacto a {
  color: #2e2630;
}

.footer .footer__redes {
  font-size: 20px;
}

.footer .footer__redes ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer__redes ul a {
  color: #2e2630;
  padding: 5px;
  font-size: 45px;
}

.footer .footer__copy {
  letter-spacing: 6px;
}

/*----- media query footer ------*/
@media screen and (max-width: 767px) {
  .footer div {
    text-align: center;
  }
  .footer .footer__contacto {
    font-size: 15px;
  }
  .footer .footer__redes ul {
    margin-bottom: 0;
  }
  .footer .footer__redes p {
    display: none;
  }
  .footer .footer__copy {
    letter-spacing: 0;
  }
}

.index {
  padding-top: 120px;
}

.index h1 {
  -webkit-animation-name: aparecertitulo;
          animation-name: aparecertitulo;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  word-spacing: 10px;
  color: #2e2630;
  font-family: 'Cedarville Cursive';
  font-size: 25px;
}

.index .dibujoyaudio {
  -webkit-animation-name: aparecerimg;
          animation-name: aparecerimg;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.index .dibujo1 {
  max-height: 350px;
}

.index .p1 {
  text-align: start;
  -webkit-animation-name: aparecerp1;
          animation-name: aparecerp1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  color: #648C76;
}

.index .p2 {
  text-align: end;
  -webkit-animation-name: aparecerp2;
          animation-name: aparecerp2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  color: #648C76;
}

.index .dibujo2 {
  max-height: 350px;
  width: auto;
}

@-webkit-keyframes aparecertitulo {
  0% {
    opacity: 0;
    word-spacing: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecertitulo {
  0% {
    opacity: 0;
    word-spacing: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes aparecerimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecerimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes aparecerp1 {
  0% {
    -webkit-transform: translate(-600px, 0px);
            transform: translate(-600px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes aparecerp1 {
  0% {
    -webkit-transform: translate(-600px, 0px);
            transform: translate(-600px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes aparecerp2 {
  0% {
    -webkit-transform: translate(600px, 0px);
            transform: translate(600px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes aparecerp2 {
  0% {
    -webkit-transform: translate(600px, 0px);
            transform: translate(600px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/*----- media querys ------*/
@media screen and (max-width: 767px) {
  .index .p1 {
    text-align: center;
  }
  .index .p2 {
    text-align: center;
  }
}

.navbar {
  background-color: #D9C6BA !important;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar .navbar__div {
  padding: 0 25px 0 25px;
}

.navbar .navbar__div .local {
  background-color: #B0D9C2;
}

.navbar .navbar__div .navbar__contenedorlogo {
  height: 100px;
}

.navbar .navbar__div .navbar__contenedorlogo .nav__logo {
  height: 100% !important;
}

.navbar .navbar__div .collapse ul {
  font-size: 18px;
}

.navbar .navbar__div .collapse ul li a:hover {
  background-color: #B0D9C2;
}

.nosotros {
  padding-top: 120px;
}

.nosotros p {
  color: #648C76;
}

.nosotros h1 {
  letter-spacing: 4px;
  word-spacing: 4px;
  font-size: 25px;
  font-family: 'Cedarville Cursive';
}

.nosotros .fotos img {
  border-radius: 5px;
}

.nosotros .tarjeta1, .nosotros .tarjeta2, .nosotros .tarjeta3 {
  background-color: #d9c6ba57;
  text-align: center;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.45);
}

.nosotros .tarjeta1 h3, .nosotros .tarjeta2 h3, .nosotros .tarjeta3 h3, .nosotros .tarjeta1 h5, .nosotros .tarjeta2 h5, .nosotros .tarjeta3 h5 {
  color: #8C6764;
  display: none;
}

.nosotros .tarjeta1 p, .nosotros .tarjeta2 p, .nosotros .tarjeta3 p {
  color: #8C6764;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 2rem;
  display: none;
}

.nosotros .tarjeta1 img, .nosotros .tarjeta2 img, .nosotros .tarjeta3 img {
  border-radius: 5px;
}

.nosotros .tarjeta1:hover, .nosotros .tarjeta2:hover, .nosotros .tarjeta3:hover {
  -webkit-animation-name: animaciontarjetas;
          animation-name: animaciontarjetas;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media screen and (max-widht: 700px) {
  h1 {
    display: none;
  }
}

@-webkit-keyframes animaciontarjetas {
  0% {
    .tarjeta1 {
      h3 {
        display: none;
      }
      h5 {
        display: none;
      }
      p {
        display: none;
      }
    }
  }
  100% {
    .tarjeta1 {
      h3 {
        display: block;
      }
      h5 {
        display: block;
      }
      p {
        display: block;
      }
    }
  }
}

@keyframes animaciontarjetas {
  0% {
    .tarjeta1 {
      h3 {
        display: none;
      }
      h5 {
        display: none;
      }
      p {
        display: none;
      }
    }
  }
  100% {
    .tarjeta1 {
      h3 {
        display: block;
      }
      h5 {
        display: block;
      }
      p {
        display: block;
      }
    }
  }
}

.paraescuchar {
  padding-top: 120px;
}

.paraescuchar p {
  color: #648C76;
}

.paraescuchar h4 {
  text-align: center;
  background-color: #8C6764;
  font-style: italic;
}

.paraescuchar .paraescuchar__hijo1 .subt {
  letter-spacing: 4px;
  word-spacing: 4px;
  font-size: 25px;
  font-family: 'Cedarville Cursive';
}

.paraescuchar .paraescuchar__hijo2 .vertiente__temas {
  border: 13px double #D9C6BA;
  border-radius: 40px 40px 40px 40px;
}

.paraescuchar .paraescuchar__hijo3 .tinte__temas {
  border: 13px double #D9C6BA;
  border-radius: 40px 40px 40px 40px;
}

.paratocar {
  padding-top: 120px;
}

.paratocar h1 {
  letter-spacing: 4px;
  word-spacing: 4px;
  font-size: 25px;
  font-family: 'Cedarville Cursive';
}

.paratocar h2 {
  text-align: center;
  background-color: #8C6764;
  font-style: italic;
}

.paratocar h4 {
  background-color: #B0D9C2;
  letter-spacing: 5px;
  font-size: 30px;
  color: #648C76;
}

.escribinos {
  padding-top: 120px;
}

.escribinos h1 {
  letter-spacing: 4px;
  word-spacing: 4px;
  font-size: 25px;
  font-family: 'Cedarville Cursive';
  margin: 0;
}

.escribinos .escribinos__hijo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.escribinos .escribinos__hijo h4 {
  color: #648C76;
  font-weight: 500;
}

.escribinos .escribinos__hijo .escribinos__tarjeta, .escribinos .escribinos__hijo .escribinos__datos {
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.43);
          box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.43);
  color: #8C6764;
}

.escribinos .escribinos__hijo .escribinos__tarjeta button, .escribinos .escribinos__hijo .escribinos__datos button {
  color: #8C6764;
  background-color: #fff;
  border-color: #8C6764;
}
