.footer{
    background-image: linear-gradient(#fff, $color6);
    align-items: flex-end;
    align-content: center;
    color: $color1;
    p{
        color: $color1;
    }
    .footer__contacto{
        font-size: 16px;
        a{
            color: $color1;
        }
    }

    .footer__redes{
        font-size: 20px;
        ul{
            justify-content: space-evenly;
            a{
                color: $color1;
                padding: 5px;
                font-size: 45px;     
            }
        }
            
    }
    .footer__copy{
        letter-spacing: 6px;
    }
}

/*----- media query footer ------*/

@media screen and (max-width: 767px) {
    .footer{
        div{
            text-align: center;
        }
        .footer__contacto{
            font-size: 15px;
        }
        .footer__redes{
            ul{
                margin-bottom: 0;
            }
            p{
                display: none;
            }
        }
        .footer__copy{
            letter-spacing: 0;
        }
    }
}