.nosotros{
    padding-top: 120px;

    p{
        color: $color5;
    }
    h1{
        letter-spacing: 4px;
        word-spacing: 4px;
        font-size: 25px;
        font-family: 'Cedarville Cursive' 
    }

    .fotos{
        img{
            border-radius: 5px;
        }

    }
    .tarjeta{
        background-color: #d9c6ba57;
        text-align: center;
        border-radius: 5px;
        box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.45);
        height: auto;
        overflow: hidden;
        transition: display .15s;
        
        h3{
            color: $color3;
        }
        h5{
            color: $color3;
            display: none;
        }
        p{
            color: $color3;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 2rem;
            display: none;     
        }
        img{
            border-radius: 5px;
        }
    }
    .tarjeta:hover{
        p{
            display: block;
        }
        h5{
            display: block;
        }
        
    }
    
}
