.nosotros{
    padding-top: 120px;

    p{
        color: $color5;
    }
    h1{
        letter-spacing: 4px;
        word-spacing: 4px;
        font-size: 25px;
        font-family: 'Cedarville Cursive' 
    }

    .fotos{
        img{
            border-radius: 5px;
        }

    }

    .tarjeta1{
        background-color: #d9c6ba57;
        text-align: center;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.45);

        
        h3{
            color: $color3;
            display: none;
        }

        h5{
            @extend h3
        }

        p{
            color: $color3;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 2rem;
            display: none;
        
        }
        img{
            border-radius: 5px;
        }
    }
    .tarjeta1:hover{
        @include  propiedadesanimaciones(animaciontarjetas,7s,1 )
    }
    .tarjeta2{
        @extend .tarjeta1
    }

    .tarjeta3{
        @extend .tarjeta1
    }
}


@media screen and (max-widht:700px) {
    h1{
        display: none;
    }
}

@keyframes animaciontarjetas {
    0%{
        .tarjeta1{
            h3{
                display: none;
            }
            h5{
                display: none;
            }
            p{
                display: none;
            }  
        }
    }

    100%{
        .tarjeta1{
            h3{
                display: block;
            }
            h5{
                display: block;
            }
            p{
                display: block;
            }
        }  
    }
}