.paraescuchar{
       
    h4{
        text-align: center;
        background-color: $color3;
        font-style: italic;
    }
    .paraescuchar__hijo1{

        h1{
            letter-spacing: 4px;
            word-spacing: 4px;
            font-size: medium;

        }
    }
    .paraescuchar__hijo2{

        .vertiente__temas{
            border: 13px double $color2;
            border-radius: 40px 40px 40px 40px;
        }
    }
    .paraescuchar__hijo3{

        .tinte__temas{
            border: 13px double $color2;
            border-radius: 40px 40px 40px 40px;
        }
        
    }

}