.paratocar{
    padding-top: 120px;
    h1{
        letter-spacing: 4px;
        word-spacing: 4px;
        font-size: 25px;
        font-family: 'Cedarville Cursive' ;
        
    }
    h2{
        color: $color2;
        text-align: map-get($titulosdiscos, alineacionTexto);
        background-color: map-get($titulosdiscos, colorFondo);
        font-style: map-get($titulosdiscos, estiloFuente);
    }
    h4{
        background-color: $color6;
        letter-spacing: 5px;
        font-size: 30px;
        color: $color5;
    }
}
