/*---paleta---*/
$color1: #2e2630;
$color2: #D9C6BA;
$color3: #8C6764;
$color4: #21402E;
$color5: #648C76;
$color6: #B0D9C2;


$titulosdiscos:(
    alineacionTexto: center,
    colorFondo: $color3,
    estiloFuente: italic,
)


